.my-pulse {
  --animate-duration: 1.5s;
  animation-iteration-count: infinite;
}

.my-bounce {
  --animate-duration: 2s;
  animation-iteration-count: infinite;
}

.my-fade {
  --animate-duration: 1s;
}

.my-fade {
  --animate-duration: 1s;
}