
*{
    font-family: $font-family-primary;
    margin:0;
    padding: 0;
}
h1{
    color:$tertiary-color; 
    font-weight: 800;
    font-size: 6em;
    text-align: center;
    padding: 5px;
}
h2{
    color: $white-color;
    font-size: 4em;
    font-weight: 600;
}

h3{
    color: $tertiary-color;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding: 2%;

}
p{
    color: $white-color;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    font-weight: 400;
}


body{
    background: $primary-color;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 40%;
    gap: 10;
    background: linear-gradient(to bottom, $secondary-color, $fourth-color);
}

.btn{
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    font-family: $font-family-primary;
    color: $white-color;
    background-color: $secondary-color;
    border: none;
    height: 50%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}



.btn-primary {
  @extend .btn;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  color:$secondary-color;
 

}

section{
    padding: 2%;

}

article{
    padding: 2%;
}

.seccion-card{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 2rem;           
}
.seccion-card.reverse {
    flex-direction: row-reverse; 
}





.seccion-card img{
    width: 50%;
    border-radius: 20px;

}

.seccion-card .text p{
    flex: display;
    font-size: 1,5em;
    width: 100%;
    color: $fourth-color !important;
    align-items: center;
}

.ultima-seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 2%;

}
.ultima-seccion img{

    width: 40px;
}


.seccion-historias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 2%;
}

.card-historias{
    width: 30%;
    height: 50%;
    padding: 2%;
    display: flex;
    flex: row;
    text-align: center;
    border: 2px solid $secondary-color;
    border-radius: 20px;
    
}
.card-historias img{
    border-radius: 50%;
    width: 100%;
}
.card-historias p{
    font-size: 1.125em;
    font-weight: 400;


}
.card-historias figcaption{
    text-align: center;
    padding: 2%;
    margin: 2%;
    font-size: 2.5 rem;
    font-weight: 600;
    color: $fourth-color;
}
.ultima-seccion .button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons{
    padding: 2%;
    gap: 20px;
}

.my-fade {
  --animate-duration: 1s;
}
.text p{
    color:$secondary-color;
    font-weight: 600;
    
}
.logo-nabvar{
    width:40%;
}