.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;;
  padding: 2%;
}

.hero-text {
  width: 50%;
  text-align: center; 
  display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 1rem;   
  padding: 2%;          
}


.hero-img {
    max-width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;  

  
}

.hero-img img {
    justify-content: center;
    width: 70%;
    padding: 5;
    margin: 5;
}
.feature{
    padding: 2%;
    gap:5;

}
.card{
    width: 30%;
    text-align: center;

}

.card img{
    max-width: 100%;     
    height: auto;
    width: 30%;

}

figcaption{
    text-align: justify;
    padding: 2%;
    color: $white-color;
    font-size: 2em;
    font-weight: 600;
}

.card p{
    font-size: 1,5em;
    color: $white-color;
    text-align:left;
    font-weight: 500;
    padding: 2%;
}

.button{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 2%;

}
.button a{
    text-decoration: none;
    text-align: center;
}