@media (max-width: 768px){
    header{
        align-items: center;
        
    img{
        display: none; 
    }
    }
    .hero-text{
        display: flex;
        align-items: center;
        width:100%;

    }

   .feature{
     display: flex;
     flex-direction: column;
     justify-content: center;

   }
    .cards{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    .card{
        width:60%;
        align-items: center;
    }

    .card p{
        display:none;
    }
    .seccion-card{
        width:100%;
        align-items: center;

    }

    .card figcaption{
        text-align: center;
    }
    .seccion-card img{
        display: block;
        margin: auto;
        
    }

    article .text{
        display:none;
    }

    .seccion-tres{
        display: none;
    }

    footer div ul li{
        display:none;
    }


    main{
        

    }
    h2{
        font: size 1,5em; 
        text-align: center;
    }

}